/JavaClass_27-12-18/nbproject/private/
/JavaClass_27-12-18/build/
/JavaClass_0/nbproject/private/
/JavaClass_0/build/
/JavaClass_05_01_19/nbproject/private/
/JavaClass_05_01_19/build/
/JavaClass_07_01_19/nbproject/private/
/JavaClass_07_01_19/build/
/JavaClass_08_01_19/nbproject/private/
/JavaClass_08_01_19/build/
/JavaClass_09_01_19/nbproject/private/
/JavaClass_09_01_19/build/
/Student/nbproject/private/
/JavaClass_10_01_19/nbproject/private/
/JavaClass_10_01_19/build/
/JavaClass_12_01_19/nbproject/private/
/JavaClass_12_01_19/build/